In [1]:
import pandas as pd
import json
import numpy as np
from pandasql import sqldf
import statistics 
import math
import scipy as stats
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import datetime
from datetime import  date, datetime, timedelta

In [2]:
pip install pandas --upgrade

Requirement already satisfied: pandas in /Users/kaylalocklear/opt/anaconda3/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/kaylalocklear/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/kaylalocklear/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/kaylalocklear/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /Users/kaylalocklear/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /Users/kaylalocklear/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# import table
demographic = pd.read_csv('/Users/kaylalocklear/Downloads/archive/demographic.csv')

In [4]:
# subset
demo_subset = demographic[['SEQN','RIDAGEYR','RIAGENDR','RIDRETH3','INDFMIN2']]

In [5]:
# rename columns
demo_subset.columns = ['sequence_number','age', 'gender','race','annual_family_income']

In [6]:
# replacing race numbers to words
demo_subset[['race']] = demo_subset[['race']].replace([1], ['Mexican American'])
demo_subset[['race']] = demo_subset[['race']].replace([2], ['Other Hispanic'])
demo_subset[['race']] = demo_subset[['race']].replace([3], ['White'])
demo_subset[['race']] = demo_subset[['race']].replace([4], ['African American'])
demo_subset[['race']] = demo_subset[['race']].replace([6], ['Asian'])
demo_subset[['race']] = demo_subset[['race']].replace([7], ['Other/Multi'])

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2544892200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['race']] = demo_subset[['race']].replace([1], ['Mexican American'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2544892200.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['race']] = demo_subset[['race']].replace([2], ['Other Hispanic'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2544892200.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['race']] = demo_subset[['race']].replace([3], ['White'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2544892200.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['race']] = demo_subset[['race']].replace([4], ['African American'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2544892200.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['race']] = demo_subset[['race']].replace([6], ['Asian'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2544892200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['race']] = demo_subset[['race']].replace([7], ['Other/Multi'])

In [7]:
# replacing annual income to string

demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([1], ['0 - 4,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([2], ['5,000 - 9,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([3], ['10,000 - 14,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([4], ['15,000 - 19,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([5], ['20,000 - 24,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([6], ['25,000 - 34,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([7], ['35,000 - 44,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([8], ['45,000 - 54,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([9], ['55,000 - 64,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([10], ['65,000 - 74,999'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([12], ['20,000 and Over'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([13], ['Under 20,000'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([14], ['75,000 and Over'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([15], ['100,000 and Over'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([77], ['Refused'])
demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([99], ['Do not know'])

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([1], ['0 - 4,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([2], ['5,000 - 9,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([3], ['10,000 - 14,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([4], ['15,000 - 19,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([5], ['20,000 - 24,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([6], ['25,000 - 34,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([7], ['35,000 - 44,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([8], ['45,000 - 54,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([9], ['55,000 - 64,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([10], ['65,000 - 74,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([12], ['20,000 and Over'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([13], ['Under 20,000'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([14], ['75,000 and Over'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([15], ['100,000 and Over'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([77], ['Refused'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/599189504.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_subset[['annual_family_income']] = demo_subset[['annual_family_income']].replace([99], ['Do not know'])

In [8]:
demo_subset.annual_family_income.unique()

array(['15,000 - 19,999', '35,000 - 44,999', '65,000 - 74,999',
       '55,000 - 64,999', '100,000 and Over', '10,000 - 14,999',
       'Refused', '20,000 - 24,999', '75,000 and Over', '5,000 - 9,999',
       '45,000 - 54,999', '20,000 and Over', '25,000 - 34,999', nan,
       'Under 20,000', '0 - 4,999', 'Do not know'], dtype=object)

In [9]:
# import table 2 
diet = pd.read_csv('/Users/kaylalocklear/Downloads/archive/diet.csv')

In [10]:
# subset data
diet_subset = diet[['SEQN','DR1TKCAL','DR1TCARB','DR1TPROT','DR1TFIBE','DR1TTFAT','DR1TCHOL',
                   'DR1TALCO','DR1TSUGR', 'DR1TSODI']]

In [11]:
# rename
diet_subset.columns = ['sequence_number','total_calories','total_carbs','total_protien', 'total_fiber',
                       'total_fat', 'total_cholesterol','total_alcohol','total_sugar',
                       'total_sodium']

In [12]:
# import table 3
exam = pd.read_csv('/Users/kaylalocklear/Downloads/archive/examination.csv')

In [13]:
# subset
exam_subset = exam[['SEQN','BMXBMI','BPXDI1','BPXSY1','BPXPLS']]

In [14]:
# rename
exam_subset.columns = ['sequence_number','BMI','diastolic_bp','systolic_bp','pulse']

In [15]:
# import table 4
labs = pd.read_csv('/Users/kaylalocklear/Downloads/archive/labs.csv')

In [16]:
# subset
lab_subset = labs[['SEQN','URXPREG','LBDSCASI','LBXSCLSI','LBXSCK','LBXSKSI','LBXSNASI',
                 'LBDSBUSI','LBDSALSI','LBXSASSI','LBXSATSI','LBXTC']]

In [17]:
# rename columns
lab_subset.columns = ['sequence_number','pregnancy_test','calcium',
                      'chloride','creatine','potassium','sodium',
                 'urea_nitrogen','albumin','AST','ALT','total_cholesterol_lab']

In [18]:
# import table 5
meds = pd.read_csv('/Users/kaylalocklear/Downloads/archive/medications.csv', encoding = "ISO-8859-1")

In [19]:
# subset
med_subset = meds[['SEQN','RXDCOUNT','RXDRSD1']]

In [20]:
# rename columns
med_subset.columns = ['sequence_number','number_of_prescriptions','diagnosis']

In [21]:
# import table 6
question = pd.read_csv('/Users/kaylalocklear/Downloads/archive/questionnaire.csv')

In [22]:
# subset
question_subset = question[['SEQN','ALQ130', 'DIQ010','HUQ051','MCQ080','MCQ160B','MCQ160C','MCQ160E', 'DBD895', 'HIQ011']]

In [23]:
# rename columns
question_subset.columns = ['sequence_number','number_of_alc_drinks', 'diabetes_diagnosis',
                           'healthcare_use_this_year','overweight','CHF','coronary_heart_disease','heart_attack','weekly_meals_not_at_home',
                          'insurance_coverage']

In [24]:
# replacing 1.0 for yes and 2.0 for no and 7 for refused or 9 for unknown
question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']].replace([1.0], ['yes'])
question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']].replace([9.0], ['Unknown'])
question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']].replace([7.0], ['Refused'])

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/412556505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']].replace([1.0], ['yes'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/412556505.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']].replace([9.0], ['Unknown'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/412556505.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack','insurance_coverage']].replace([7.0], ['Refused'])

In [25]:
# replacing 1.0 for yes and 2.0 for no
question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack', 'insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack', 'insurance_coverage']].replace([2.0], ['no'])

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2701588271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack', 'insurance_coverage']] = question_subset[['diabetes_diagnosis','overweight','CHF','coronary_heart_disease', 'heart_attack', 'insurance_coverage']].replace([2.0], ['no'])

In [26]:
question_subset

,sequence_number,number_of_alc_drinks,diabetes_diagnosis,healthcare_use_this_year,overweight,CHF,coronary_heart_disease,heart_attack,weekly_meals_not_at_home,insurance_coverage
0,73557,1.0,yes,5,yes,no,no,no,8.0,yes
1,73558,4.0,yes,5,no,no,no,no,0.0,no
2,73559,NaN,yes,2,no,no,no,no,1.0,yes
3,73560,NaN,no,1,NaN,NaN,NaN,NaN,0.0,yes
4,73561,NaN,no,4,no,no,no,no,0.0,yes
...,...,...,...,...,...,...,...,...,...,...
10170,83727,3.0,no,1,no,no,no,no,1.0,no
10171,83728,NaN,no,0,NaN,NaN,NaN,NaN,2.0,no
10172,83729,NaN,no,5,no,no,no,no,6.0,yes
10173,83730,NaN,no,0,NaN,NaN,NaN,NaN,0.0,yes
10174,83731,NaN,no,1,NaN,NaN,NaN,NaN,2.0,yes

In [27]:
# join all tables using sqldf
df = sqldf('''select * from demo_subset 
    left join exam_subset on demo_subset.sequence_number = exam_subset.sequence_number
    left join question_subset on demo_subset.sequence_number = question_subset.sequence_number
    left join diet_subset on demo_subset.sequence_number = diet_subset.sequence_number
    left join med_subset on demo_subset.sequence_number = med_subset.sequence_number
    left join lab_subset on demo_subset.sequence_number = lab_subset.sequence_number''')

In [28]:
# # of duplicates
df.duplicated().sum()

2587

In [29]:
# dropping duplicates
df = df.drop_duplicates().reset_index()

In [30]:
# dropping columns with same name (sequence number)
df = df.loc[:,~df.columns.duplicated()]

In [31]:
# data quality
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17607 entries, 0 to 17606
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     17607 non-null  int64
 1   sequence_number           17058 non-null  float64
 2   age                       17607 non-null  int64
 3   gender                    17607 non-null  int64
 4   race                      17607 non-null  object
 5   annual_family_income      17411 non-null  object
 6   BMI                       16072 non-null  float64
 7   diastolic_bp              13531 non-null  float64
 8   systolic_bp               13531 non-null  float64
 9   pulse                     14405 non-null  float64
 10  number_of_alc_drinks      7178 non-null   float64
 11  diabetes_diagnosis        17195 non-null  object
 12  healthcare_use_this_year  17607 non-null  int64
 13  overweight                13617 non-null  object
 14  CHF                       12860 non-null  object
 15  coronary_heart_disease    12860 non-null  object
 16  heart_attack              12860 non-null  object
 17  weekly_meals_not_at_home  17111 non-null  float64
 18  insurance_coverage        17607 non-null  object
 19  total_calories            14965 non-null  float64
 20  total_carbs               14965 non-null  float64
 21  total_protien             14965 non-null  float64
 22  total_fiber               14965 non-null  float64
 23  total_fat                 14965 non-null  float64
 24  total_cholesterol         14965 non-null  float64
 25  total_alcohol             14965 non-null  float64
 26  total_sugar               14965 non-null  float64
 27  total_sodium              14965 non-null  float64
 28  number_of_prescriptions   11514 non-null  float64
 29  diagnosis                 11246 non-null  object
 30  pregnancy_test            1812 non-null   float64
 31  calcium                   13194 non-null  float64
 32  chloride                  13263 non-null  float64
 33  creatine                  13240 non-null  float64
 34  potassium                 13259 non-null  float64
 35  sodium                    13263 non-null  float64
 36  urea_nitrogen             13263 non-null  float64
 37  albumin                   13263 non-null  float64
 38  AST                       13248 non-null  float64
 39  ALT                       13248 non-null  float64
 40  total_cholesterol_lab     14466 non-null  float64
dtypes: float64(28), int64(4), object(9)
memory usage: 5.5+ MB

In [32]:
# droping nulls in BMI column - only wanting people with a measured BMI in study
df = df.dropna(subset=['BMI'])

In [33]:
# droping nulls in calories column - only wanting people with a measured calories in study
df = df.dropna(subset=['total_calories'])

In [34]:
# excluding pregnant wowmen
df = df[(df.pregnancy_test != 1.0)]

In [35]:
# droping pregnacy column since no longer needed 
df = df.drop(columns='pregnancy_test')

In [36]:
# replacing female for 2 in gender column
df[['gender']] = df[['gender']].replace([2], ['female'])

In [37]:
# replacing male for 1 in gender column
df[['gender']] = df[['gender']].replace([1], ['male'])

In [38]:
df.age.unique()

array([69, 54, 72,  9, 73, 56, 61, 65, 26, 76, 10, 33, 16, 32, 18, 12, 38,
       50,  7, 13, 28,  4, 14, 11, 35,  2,  6, 29,  3, 23, 58, 57, 20, 37,
       75, 43, 60, 55, 62, 36, 80, 63, 71, 67, 64,  8, 46, 44, 70, 59, 25,
        5, 24, 30, 49, 45, 51, 77, 78, 66, 47, 48, 53, 15, 17, 31, 42, 21,
       39, 19, 68, 52, 34, 40, 27, 22, 41, 79, 74])

In [39]:
# replacing number codes for actual # of times participants used healthcare past year
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([1], ['1'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([0], ['none'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([2], ['2-3'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([3], ['4-5'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([4], ['6-7'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([5], ['8-9'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([6], ['10-12'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([7], ['13-15'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([8], ['16 or more'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([77], ['refused'])
df[['healthcare_use_this_year']] = df[['healthcare_use_this_year']].replace([99], ['Unknown'])

In [40]:
# replacing all diabetes diagnoses with 3 with 'borderline'
df[['diabetes_diagnosis']] = df[['diabetes_diagnosis']].replace(['3.0'], ['borderline'])

In [41]:
# replacing number of drinks 999 with unknown
df[['number_of_alc_drinks']] = df[['number_of_alc_drinks']].replace([999], ['Unknown'])

In [42]:
# replacing meals not at home 9999 with unknown, 7777 with refused, 0 with none, and 5555 with mroe than 21 meals
df[['weekly_meals_not_at_home']] = df[['weekly_meals_not_at_home']].replace([9999], ['Unknown'])
df[['weekly_meals_not_at_home']] = df[['weekly_meals_not_at_home']].replace([7777], ['Refused'])
df[['weekly_meals_not_at_home']] = df[['weekly_meals_not_at_home']].replace([5555], ['More than 21 meals'])
df[['weekly_meals_not_at_home']] = df[['weekly_meals_not_at_home']].replace([0], ['None'])

In [43]:
# excluding ages below 18
df = df[df.age >= 18]

In [44]:
# testing various columns unique values - making sure all values are accounted for
df.insurance_coverage.unique()

array(['yes', 'no', 'Unknown', 'Refused'], dtype=object)

In [45]:
# rechecking null values
df.isna().sum()

index                          0
sequence_number                0
age                            0
gender                         0
race                           0
annual_family_income          91
BMI                            0
diastolic_bp                 911
systolic_bp                  911
pulse                        260
number_of_alc_drinks        4662
diabetes_diagnosis             0
healthcare_use_this_year       0
overweight                     0
CHF                          326
coronary_heart_disease       326
heart_attack                 326
weekly_meals_not_at_home       0
insurance_coverage             0
total_calories                 0
total_carbs                    0
total_protien                  0
total_fiber                    0
total_fat                      0
total_cholesterol              0
total_alcohol                  0
total_sugar                    0
total_sodium                   0
number_of_prescriptions     2349
diagnosis                   2546
calcium                      524
chloride                     471
creatine                     492
potassium                    475
sodium                       471
urea_nitrogen                471
albumin                      471
AST                          486
ALT                          486
total_cholesterol_lab        416
dtype: int64

In [46]:
df['year'] = '2013-2014'

In [47]:
df.to_csv('healthandnutrtion_2013-2014.csv')

In [48]:
df.age.unique()

array([69, 54, 72, 73, 56, 61, 65, 26, 76, 33, 32, 18, 38, 50, 28, 35, 29,
       23, 58, 57, 20, 37, 75, 43, 60, 55, 62, 36, 80, 63, 71, 67, 64, 46,
       44, 70, 59, 25, 24, 30, 49, 45, 51, 77, 78, 66, 47, 48, 53, 31, 42,
       21, 39, 19, 68, 52, 34, 40, 27, 22, 41, 79, 74])

In [49]:
df_20112012 = pd.read_csv('/Users/kaylalocklear/Downloads/archive-3/Nhanes_2011_2012.csv')

In [50]:
subset20112012 = df_20112012[['SEQN','RIDAGEYR','RIAGENDR','RIDRETH3','INDFMIN2','DR1TKCAL','DR1TCARB','DR1TPROT','DR1TFIBE','DR1TTFAT','DR1TCHOL',
                   'DR1TALCO','DR1TSUGR', 'DR1TSODI','BMXBMI','LBXTC','LBDGLUSI','DIQ010']]

In [51]:
subset20112012.columns = ['sequence_number','age', 'gender','race','annual_family_income','total_calories','total_carbs','total_protien', 'total_fiber',
                       'total_fat', 'total_cholesterol','total_alcohol','total_sugar',
                       'total_sodium','BMI', 'total_cholesterol_lab','fasting_glucose','diabetes_diagnosis']

In [52]:
subset20112012['year'] = '2011-2012'

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/696341464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20112012['year'] = '2011-2012'

In [53]:
df_20092010 = pd.read_csv('/Users/kaylalocklear/Downloads/archive-3/Nhanes_2009_2010.csv')

In [54]:
subset20092010 = df_20092010[['SEQN','RIDAGEYR','RIAGENDR','RIDRETH1','INDFMIN2','DR1TKCAL','DR1TCARB','DR1TPROT','DR1TFIBE','DR1TTFAT','DR1TCHOL',
                   'DR1TALCO','DR1TSUGR', 'DR1TSODI','BMXBMI','LBXTC','LBDGLUSI','DIQ010']]

In [55]:
subset20092010.columns = ['sequence_number','age', 'gender','race','annual_family_income','total_calories','total_carbs','total_protien', 'total_fiber',
                       'total_fat', 'total_cholesterol','total_alcohol','total_sugar',
                       'total_sodium','BMI', 'total_cholesterol_lab','fasting_glucose','diabetes_diagnosis']

In [56]:
df_20072008 = pd.read_csv('/Users/kaylalocklear/Downloads/archive-3/Nhanes_2007_2008.csv')

In [57]:
subset20072008 = df_20072008[['SEQN','RIDAGEYR','RIAGENDR','RIDRETH1','INDFMIN2','DR1TKCAL','DR1TCARB','DR1TPROT','DR1TFIBE','DR1TTFAT','DR1TCHOL',
                   'DR1TALCO','DR1TSUGR', 'DR1TSODI','BMXBMI','LBXTC','LBDGLUSI','DIQ010']]

In [58]:
subset20072008.columns = ['sequence_number','age', 'gender','race','annual_family_income','total_calories','total_carbs','total_protien', 'total_fiber',
                       'total_fat', 'total_cholesterol','total_alcohol','total_sugar',
                       'total_sodium','BMI', 'total_cholesterol_lab','fasting_glucose','diabetes_diagnosis']

In [59]:
subset20072008['year'] = '2007-2008'

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/4208586409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20072008['year'] = '2007-2008'

In [60]:
df_20052006 = pd.read_csv('/Users/kaylalocklear/Downloads/archive-3/Nhanes_2005_2006.csv')

In [61]:
subset20052006 = df_20052006[['SEQN','RIDAGEYR','RIAGENDR','RIDRETH1','INDFMINC','DR1TKCAL','DR1TCARB','DR1TPROT','DR1TFIBE','DR1TTFAT','DR1TCHOL',
                   'DR1TALCO','DR1TSUGR', 'DR1TSODI','BMXBMI','LBXTC','LBDGLUSI','DIQ010']]

In [62]:
subset20052006.columns = ['sequence_number','age', 'gender','race','annual_family_income','total_calories','total_carbs','total_protien', 'total_fiber',
                       'total_fat', 'total_cholesterol','total_alcohol','total_sugar',
                       'total_sodium','BMI', 'total_cholesterol_lab','fasting_glucose','diabetes_diagnosis']

In [63]:
subset20052006['year'] = '2005-2006'

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/221243998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006['year'] = '2005-2006'

In [64]:
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([1], ['0 - 4,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([2], ['5,000 - 9,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([3], ['10,000 - 14,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([4], ['15,000 - 19,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([5], ['20,000 - 24,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([6], ['25,000 - 34,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([7], ['35,000 - 44,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([8], ['45,000 - 54,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([9], ['55,000 - 64,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([10], ['65,000 - 74,999'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([11], ['75,000 and Over'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([12], ['20,000 and Over'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([13], ['Under 20,000'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([77], ['Refused'])
subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([99], ['Do not know'])

/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([1], ['0 - 4,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([2], ['5,000 - 9,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([3], ['10,000 - 14,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([4], ['15,000 - 19,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([5], ['20,000 - 24,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([6], ['25,000 - 34,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([7], ['35,000 - 44,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([8], ['45,000 - 54,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([9], ['55,000 - 64,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([10], ['65,000 - 74,999'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([11], ['75,000 and Over'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([12], ['20,000 and Over'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([13], ['Under 20,000'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([77], ['Refused'])
/var/folders/pz/3gh_6mq51_jd1_x487sw9b0c0000gn/T/ipykernel_37575/2229745487.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset20052006[['annual_family_income']] = subset20052006[['annual_family_income']].replace([99], ['Do not know'])

In [65]:
df2 = pd.concat([subset20052006,subset20072008, subset20092010, subset20112012], axis=0)

In [66]:
# replacing 1.0 for yes and 2.0 for no and 7 for refused or 9 for unknown
df2[['diabetes_diagnosis']] = df2[['diabetes_diagnosis']].replace([1.0], ['yes'])
df2[['diabetes_diagnosis']] = df2[['diabetes_diagnosis']].replace([9.0], ['Unknown'])
df2[['diabetes_diagnosis']] = df2[['diabetes_diagnosis']].replace([7.0], ['Refused'])
df2[['diabetes_diagnosis']] = df2[['diabetes_diagnosis']].replace([2.0], ['no'])
df2[['diabetes_diagnosis']] = df2[['diabetes_diagnosis']].replace([3.0], ['borderline'])

In [67]:
df2[['race']] = df2[['race']].replace([1], ['Mexican American'])
df2[['race']] = df2[['race']].replace([2], ['Other Hispanic'])
df2[['race']] = df2[['race']].replace([3], ['White'])
df2[['race']] = df2[['race']].replace([4], ['African American'])
df2[['race']] = df2[['race']].replace([5], ['Other/Multi'])
df2[['race']] = df2[['race']].replace([6], ['Asian'])
df2[['race']] = df2[['race']].replace([7], ['Other/Multi'])

In [68]:
df2[['annual_family_income']] = df2[['annual_family_income']].replace([1], ['0 - 4,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([2], ['5,000 - 9,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([3], ['10,000 - 14,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([4], ['15,000 - 19,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([5], ['20,000 - 24,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([6], ['25,000 - 34,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([7], ['35,000 - 44,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([8], ['45,000 - 54,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([9], ['55,000 - 64,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([10], ['65,000 - 74,999'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([12], ['20,000 and Over'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([13], ['Under 20,000'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([14], ['75,000 and Over'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([15], ['100,000 and Over'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([77], ['Refused'])
df2[['annual_family_income']] = df2[['annual_family_income']].replace([99], ['Do not know'])

In [69]:
df2 = df2[df2.age >= 18]

In [70]:
df2[['gender']] = df2[['gender']].replace([2], ['female'])
df2[['gender']] = df2[['gender']].replace([1], ['male'])

In [71]:
df2 = df2.dropna(subset=['BMI'])
df2 = df2.dropna(subset=['total_calories'])

In [72]:
df2 = pd.concat([df, df2], axis=0)

In [73]:
df2 = df2.reset_index()

In [74]:
df2

,level_0,index,sequence_number,age,gender,race,annual_family_income,BMI,diastolic_bp,systolic_bp,...,creatine,potassium,sodium,urea_nitrogen,albumin,AST,ALT,total_cholesterol_lab,year,fasting_glucose
0,0,0.0,73557.0,69.0,male,African American,"15,000 - 19,999",26.7,72.0,122.0,...,174.0,4.3,136.0,3.57,41.0,16.0,16.0,167.0,2013-2014,NaN
1,1,1.0,73557.0,69.0,male,African American,"15,000 - 19,999",26.7,72.0,122.0,...,174.0,4.3,136.0,3.57,41.0,16.0,16.0,167.0,2013-2014,NaN
2,2,2.0,73558.0,54.0,male,White,"35,000 - 44,999",28.6,62.0,156.0,...,147.0,4.3,128.0,5.71,47.0,18.0,29.0,170.0,2013-2014,NaN
3,3,3.0,73558.0,54.0,male,White,"35,000 - 44,999",28.6,62.0,156.0,...,147.0,4.3,128.0,5.71,47.0,18.0,29.0,170.0,2013-2014,NaN
4,4,4.0,73558.0,54.0,male,White,"35,000 - 44,999",28.6,62.0,156.0,...,147.0,4.3,128.0,5.71,47.0,18.0,29.0,170.0,2013-2014,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32901,9329,NaN,71908.0,66.0,female,White,"65,000 - 74,999",35.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0,2011-2012,NaN
32902,9330,NaN,71909.0,28.0,male,Mexican American,"5,000 - 9,999",29.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151.0,2011-2012,5.495
32903,9332,NaN,71911.0,27.0,male,Mexican American,"75,000 and Over",31.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,221.0,2011-2012,5.551
32904,9333,NaN,71912.0,40.0,male,White,"25,000 - 34,999",27.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.0,2011-2012,NaN
32905,9334,NaN,71913.0,18.0,female,Asian,"75,000 and Over",21.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,275.0,2011-2012,NaN

In [75]:
df2.to_csv('HealthData2005-2014.csv')